<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.schneeloch.torontotransit"
      android:installLocation="auto" android:versionCode="108" android:versionName="5.0.2">
	<!-- <supports-screens></supports-screens>-->
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>

	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<instrumentation android:name="android.test.InstrumentationTestRunner" android:targetPackage="boston.Bus.Map"></instrumentation>
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="8"></uses-sdk>
   	<application android:label="@string/app_name" android:icon="@drawable/appicon" 

	android:theme="@android:style/Theme.NoTitleBar"
	>
		<activity android:label="@string/app_name" android:name="boston.Bus.Map.main.Main" android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEARCH"></action>
			</intent-filter>
			<meta-data android:name="android.app.searchable" android:resource="@xml/searchable" 
			/>
		</activity>
		<activity android:name="boston.Bus.Map.main.MoreInfo" 
		    android:excludeFromRecents="true"></activity>
		<activity android:name="boston.Bus.Map.main.AlertInfo" 
		    android:excludeFromRecents="true"></activity>
		<activity android:name="boston.Bus.Map.main.Preferences" android:label="@string/app_name" android:excludeFromRecents="true">
		</activity> 
		<activity android:name="boston.Bus.Map.main.GetDirectionsDialog" 
		    android:theme="@android:style/Theme.Dialog" android:excludeFromRecents="true" />
				<uses-library android:name="com.google.android.maps"></uses-library>
		<meta-data android:name="android.app.default_searchable"
               android:value="boston.Bus.Map.main.SearchResults" />
		
	<uses-library android:name="android.test.runner"></uses-library>
	<provider android:name="boston.Bus.Map.provider.TransitContentProvider" 
	    android:authorities="com.bostonbusmap.torontotransitprovider"
	    android:exported="false"></provider>
	<provider android:name="boston.Bus.Map.provider.DatabaseContentProvider" 
	    android:authorities="com.bostonbusmap.torontodatabaseprovider"
	    android:exported="false"></provider>
	<provider android:name="boston.Bus.Map.provider.FavoritesContentProvider" 
	    android:authorities="com.bostonbusmap.torontofavoritesprovider"
	    android:exported="false"></provider>
</application>

</manifest>
